head {
 background-color: green;
}

body {
    background-color: rgba(255, 208, 0, 0.733);
    text-align: center;
    position: relative;
    margin: 5px;
    padding: 15px 32px;
    max-width: 1200px;
              }
p {
    text-align: center;
    text-justify: distribute-all-lines;
    background-color: black;
    color: white;
    padding: 15px;
    border: 0.5px dotted white ;
    margin: 5px;
   }
text {
    text-align: center;
    text-justify: distribute-all-lines;
    background-color: black;
    color: white;
    padding: 15px;
    border: 0.5px dotted white ;
    margin: 5px;
   }

.hide {
    display: none;
}

.show {
    display: block;
  }

h1 {
    font-size: 30;
    text-align: auto;
    font-family: serif; 
}

h2 {
    font-size:medium;
    font-weight:normal;
    border-width: 1px;
  border-style: solid;
  border-color: black;
  font-style: italic;
}
h3 {
 font-size: x-large;
 color: black;
}

h4 {
    font-size: 18;
    text-align: auto;
    font-family: fantasy; 
    color: white
}
h5{
    font-size: 30;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke 
}
p1 {
    color: grey;
}
.con_borde {
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
p2 {
    font-style: italic;
}
p3 {
    font-size: 18;
    text-align: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white;
}

p4 {
    
}

picture {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    
  }
.fondonegro {
          text-align: center;
        text-justify: distribute-all-lines;
        background-color: black;
        color: white;
        padding: 15px;
        border: 0.5px dotted white ;
        margin: 5px;
             
}
.fondogris {
    text-align: center;
  text-justify: distribute-all-lines;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 15px;
  border: 0.5px dotted white ;
  margin: 5px;
       
}
  .video-contenedor {
    position: relative;
    padding-bottom: 70%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
 
.video-contenedor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  

  
  .img-responsive  {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align:justify
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
   
  }
